/*hits*/

.ais-InfiniteHits{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ais-InfiniteHits-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}   

.ais-InfiniteHits-item{
    width: 100%;
    display: flex;
    box-shadow: none;
    border:none;
}

.ais-SearchBox{
    margin:0 auto;
    width: 300px;
}

/*refinement*/

.ais-RefinementList{
    color:white;
    margin: 10px 10px;
    width: 200px;
}

.ais-RefinementList-item {
    padding: 12px 0px;
    box-sizing:none;
}

.ais-RefinementList-label{
    padding: inherit;
}
.ais-RefinementList-item:hover{
    background-color: rgba(255,255,255,.1);
}
.ais-RefinementList-checkbox{
    margin: 2px 12px;
}

.refinements{
    display: flex;
    justify-content: center;
    margin: 10px;
}