/*hits*/

.ais-InfiniteHits{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ais-InfiniteHits-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}   

.ais-InfiniteHits-item{
    padding: 0;
    width: 100%;
    display: flex;
    box-shadow: none;
    border:none;
}


/*refinement*/

.ais-MenuSelect{
    color:black;
    margin: 10px 10px;
    width: 200px;
}

.ais-MenuSelect-select {
    width: 170px;
}

.ais-RefinementList-label{
    padding: inherit;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.ais-RefinementList-item:hover{
    background-color: rgba(255,255,255,.1);
}
.ais-RefinementList-checkbox{
    margin: 2px 12px;
}

.refinements{
    display: flex;
    justify-content: center;
    margin: 10px;
}

/*clear refinements*/

 .ais-ClearRefinements{
    height: 100%;
}

.ais-ClearRefinements-button{
    height: 100%;
} 

.ais-ClearRefinements-button--disabled{
    color:white;
    background-color: gray;
}

/*searchbox*/
.searchbox-wrapper{
    display:flex;
    justify-content: center;
    margin: 2px auto;
}
.searchbox-submit-input{
    height: 100%;
}

.custom-search-button{
    margin:0 2px;
    height: 100%;
    min-width: 10px;
}
/*range inputs*/