:root {
  --custom-color: transparent;
}

.App {
  text-align: center;
}

body>#root>div {
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* playground styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playground-root {
  width: 100%;
  padding-top: 100px;
  height: 800px;
}

.control {
  display: flex;
  width: 400px;
  flex-direction: row;
  padding-top: 20px;
  height: 37px;
  border-radius: 30px;
  /* box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19); */
}

.search-control {
  background:#433B52;
  border: 2px solid #9283a5;
  margin-left: 30px;
  margin-top: -3px;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 15.8px;
  border-radius: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.search-control:hover {
  /* background-color: #f5faf5; */
}

.search-input {
  font-weight: 200;
  font-size: inherit;
  background-color: transparent;
  border: 0;
  border-radius: inherit;
  font-family: inherit;
  margin-left: 20px;
}

#sinput{
  color:white;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: transparent !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}


.search-input:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.circle {
  position: relative;
  left: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: -2px;
  margin-top: -30px;
  min-width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #292131;
}

.inner-circle {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  color: gray;
  background-color: #390080;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.icon {
  color: white;
  padding-top: 10px;
  margin: 0 auto;
}

/* agent card */

.MuiCard-root .MuiCardHeader-content .MuiTypography-colorTextSecondary {
  display: block;
  color: white;
}